
body {
	padding:0px;
	margin:0px;
	width: 100%;
	font-family: "Open Sans";
}

h1 {
	font-size: 50px;
	line-height: 1.5;
}

p {
	font-size: 18px;
	line-height: 1.5;
}

.colonnes {
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 100px;

}

.blanc {
	color: white;
}

.marge-gauche{
	margin-left:100px ;
}

#image-matteo{
	width: 300px;
}

#menu{
	background-color: #472915;
}

#fond{
	width: 100%;
	height: 250px;	

}

#presentation {
	margin-top: -200px;
}

#texte-intro {
	margin-top:60px ;
}

#lundi, #mercredi , #vendredi{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f2ede9;
	margin-top: 50px;
}

#mardi, #jeudi {
	padding-top: 100px;
	padding-bottom: 100px;
}

